@model LSS.Models.CourseSyllabu
@using LSS.Models
<link rel="stylesheet" href="~/Content/FormsStyle.css" />
@{
    ViewBag.Title = "CourseSyllabus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>

    <table align="center">
        <tr>
            <th>
                Al-Ahliyya Amman University
            </th>

            <td>
                <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
            </td>

            <th>  جامعة عمان الأهلية </th>
        </tr>
    </table>


    <P align="center"><b> Faculty of Information Technology</b> </P>
    <hr style="border: 2px solid black" />
</header>
<table id="FormName">
    <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Course Syllabus</b> </p></tr>
</table>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table" style="border:double">
        <tr>
            <th style=" border:1px solid black" bgcolor="silver" colspan="4"> General Information:</th>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Faculty</th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
            <th style=" border:1px solid black" bgcolor="grey"> Department</th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Academic Year </th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
            <th style=" border:1px solid black" bgcolor="grey"> Semester </th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="silver" colspan="4"> Course Information:</th>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Course Name</th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
            <th style=" border:1px solid black" bgcolor="grey"> Course No. </th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Pre-requisite</th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
            <th style=" border:1px solid black" bgcolor="grey"> Co-requisite </th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td style=" border:1px solid black" bgcolor="grey"><b>Credit Hours</b><br />(Theory, Practical)</td>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
            <td style=" border:1px solid black" bgcolor="grey"> <b>Designation</b> <br /> (Req. or Elec.)</td>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Course Day/Time</th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
            <th style=" border:1px solid black" bgcolor="grey"> Class Room </th>
            <td style=" border:1px solid black">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Web Address</th>
            <td style=" border:1px solid black" colspan="3">
                @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" colspan="4" bgcolor="silver"> Instructor/Coordinator Information: </th>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Instructor Name</th>
            <td style=" border:1px solid black"> </td>
            <th style=" border:1px solid black" bgcolor="grey"> E-mail </th>
            <td style=" border:1px solid black"> </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="grey"> Office No. </th>
            <td style=" border:1px solid black"> </td>
            <th style=" border:1px solid black" bgcolor="grey"> Office Hours  </th>
            <td style=" border:1px solid black"> </td>
        </tr>
    </table>
    <br />
    <br />
    <table class="table" style="border:double">
        <tr>
            <th style=" border:1px solid black" bgcolor="silver"> Course Description: </th>
        </tr>
        <tr>
            <td style=" border:1px solid black">  </td>
        </tr>
        <tr>
            <th style=" border:1px solid black" bgcolor="silver"> References:  </th>
        </tr>
        <tr>
            <td style=" border:1px solid black" bgcolor="silver"> <b>Textbook(s):</b> Author, A. A. (Year published). Book title (Edition). City, State: Publisher.  </td>
        </tr>
        <tr>
            <td style=" border:1px solid black">  </td>
        </tr>
    </table>
}
<!--<<div style="page-break-before: always"><div></div>-->
<footer>
    <table>
        <tr>

            <td> <img src="~/Images/R.PNG" /> </td>
            <td><img src="~/Images/Quality.PNG" /> </td>
            <td><img src="~/Images/Risk.PNG" /></td>
            <td>
                <b>
                    EP-F891, Rev. a<br />
                    Ref.: 15/06/2019 - 2020<br />
                    Date: 10/10/2019
                </b>

            </td>

            <td> <img src="~/Images/Certified.PNG" /> </td>
        </tr>
    </table>
</footer>

