@model LSS.Models.CoursesModelView.CouresModelView
@using LSS.Models

<header>
    @{
        ViewBag.Title = "CourseInformationForm";
        Layout = "~/Views/Shared/_Layout.cshtml";
        <link rel="stylesheet" href="~/Content/FormsStyle.css" />
    }
</header>


<body>
    <div class="row">
        <div class="col-2 mt-lg-5">
            <div class="list-group list-group-flush w-50">
                    <h4 class="text-primary text-decoration-none" style="color:black !important"> <b>Content</b> </h4>
                    @Html.ActionLink("Recomandations for improving the course", "ActionsForImproving", "CourseCoordinator",
                   new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })

                    @Html.ActionLink("Students List", "CourseStudentList", "CourseCoordinator",
                   new { CourseID = Model.Course.ID, Year = Model.CourseCoordinator.Year, Semester = Model.CourseCoordinator.Semseter }, new { @class = "bg-transparent pb-3" })

                    @Html.ActionLink("PI Assessment", "PI Assessment", "CourseCoordinator",
                   new { CourseID = Model.Course.ID, Year = Model.CourseCoordinator.Year, Semester = Model.CourseCoordinator.Semseter }, new { @class = "bg-transparent pb-3" })

                    @Html.ActionLink("Survey", "CourseAssessmentSurvey", "CourseCoordinator",
                   new { CourseID = Model.Course.ID, Year = Model.CourseCoordinator.Year, Semester = Model.CourseCoordinator.Semseter }, new { @class = "bg-transparent pb-3" })
                    <br />
                    <h4 class="text-primary text-decoration-none" style="color:black !important"> <b>Forms</b> </h4>
                    @Html.ActionLink("Coures Syllabus", "CourseSyllabus", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Course Assessment Survey", "CourseAssessmentSurvey", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Course File Checklist", "CourseFileChecklist", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Course Information Form", "CourseInformationForm", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3 text-success" })
                    @Html.ActionLink("Coures Report", "CourseReport", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Exam Evaluation", "ExamEvaluation", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Question Answer Sheet", "QuestionsAnswersSheet", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                </div>
        </div>

        <div class="col-lg-8">
            <div class="container shadow-lg p-3 mb-3 mt-5 align-items-center bg-white">
                <div class="d-flex justify-content-center align-items-center text-center">
                    <div>
                        <img src="~/Images/LOGO-removebg-preview.png" class="brand_logo" alt="Logo" style="height:150px; width:120px;" />
                        <h3>Faculty of Information Technology </h3>
                    </div>
                </div>

                <hr style="border: 2px solid black" />

                <table id="FormName">
                    <tr class="text-center">
                        <td bgcolor="silver" style="border:1px solid black" class="pt-2">
                            <h4 align="center"> <b>Course Information Form</b> </h4>
                        </td>
                    </tr>
                </table>
                <br />
                @{
                    int col = (Model.CourseCoordinator.OtherLecturers.Count + 1) * 2;
                    int j = 1;
                }

                <table class="table" style="border: 2px solid black">
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Faculty</th>
                        <td style=" border:1px solid black">@Html.DisplayFor(x => x.Faculty.Name)   </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Department </th>
                        <td style=" border:1px solid black" colspan="@col"> @Html.DisplayFor(x => x.Department.Name)  </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Course Title</th>
                        <td style=" border:1px solid black"> @Html.DisplayFor(x => x.Course.Title) </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Course Code  </th>
                        <td style=" border:1px solid black" colspan="@col">@Html.DisplayFor(x => x.Course.ID) </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Pre- requisite</th>
                        <td style=" border:1px solid black"> @Html.DisplayFor(x => x.Course.Course1)  </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Co- requisite  </th>
                        <td style=" border:1px solid black" colspan="@col"> @Html.DisplayFor(x => x.Course.Course2)  </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Academic Year </th>
                        <td style=" border:1px solid black">@Html.DisplayFor(x => x.CourseCoordinator.Year)   </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Semester  </th>
                        <td style=" border:1px solid black" colspan="@col">
                            @if (Model.CourseCoordinator.Semseter == "") { }
                            else if (Model.CourseCoordinator.Semseter == "1")
                            {<p>First Semester</p> }
                            else if (Model.CourseCoordinator.Semseter == "2")
                            {<p>Second Semester</p> }
                            else
                            {<p>Summer Semester</p>}
                        </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Course Instructor/<br />Coordinator </th>
                        <td style=" border:1px solid black"> @Html.DisplayFor(x => x.CourseCoordinator.Coordinator)  </td>
                        <th bgcolor="silver" style=" border:1px solid black"> No. of Students in <br />each Section  </th>
                        <th style=" border:1px solid black"> 1 </th>
                        <td style=" border:1px solid black">  @Html.DisplayFor(x => x.CourseCoordinator.NoOFStudents) </td>

                        @for (int i = 0; i < Model.CourseCoordinator.OtherLecturers.Count(); i++)
                        {
                            j++;
                            <th style=" border:1px solid black"> @Html.Display(j + "")</th>
                            <td style=" border:1px solid black"> @Model.CourseCoordinator.OtherLecturers.ElementAt(i).noOFStudents </td>
                        }
                    </tr>
                </table>
                <br />

                <table class="table" style="border: 2px solid black">
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black" colspan="7"> List of StudentLearning Outcomes&Performance Indicators (PIs) that are aligned with the Course </th>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black; text-align:center; max-width:20px; "> Student Learning<br /> Outcomes </th>
                        @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                        {
                            col = Model.SLO_PI.ElementAt(i).Value.Count();
                            <td style=" border:1px solid black; text-align:center;" colspan="@col"> @Model.SLO_PI.ElementAt(i).Key.SLOID</td>
                        }
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black;text-align:center; max-width:20px;"> Performance <br /> Indicators (PIs) </th>
                        @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                        {
                            foreach (PI pi in Model.SLO_PI.ElementAt(i).Value)
                            {

                                <td style=" border:1px solid black; text-align:center; "> @pi.ID </td>
                            }
                        }
                    </tr>
                </table>

                <br />
                <table class="table" style="border: 2px solid black">
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black" colspan="3"> Descriptions of StudentLearning Outcomes&Performance Indicators (PIs)  </th>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Student Learning Outcomes   </th>
                        <th bgcolor="silver" style=" border:1px solid black" colspan="2"> Performance Indicators  </th>
                    </tr>

                    @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                    {
                        col = Model.SLO_PI.ElementAt(i).Value.Count();

                        <tr>
                            <td style=" border:1px solid black" rowspan="@col"><b>@Model.SLO_PI.ElementAt(i).Key.SLOID :</b>@Model.SLO_PI.ElementAt(i).Key.Desc</td>
                            @if (Model.SLO_PI.ElementAt(i).Value != null)
                            {
                                <td style=" border:1px solid black">@Model.SLO_PI.ElementAt(i).Value.ElementAt(0).ID</td>
                                <td style=" border:1px solid black"> @Model.SLO_PI.ElementAt(i).Value.ElementAt(0).Desc </td>
                                for (int k = 1; k < Model.SLO_PI.ElementAt(i).Value.Count(); k++)
                                {
                                <tr>
                                    <td style=" border:1px solid black">@Model.SLO_PI.ElementAt(i).Value.ElementAt(k).ID</td>
                                    <td style=" border:1px solid black"> @Model.SLO_PI.ElementAt(i).Value.ElementAt(k).Desc </td>
                                </tr>
                            }
                        }
                            </tr>
                        }
                </table>
                <br />

                <div id="Pagebreak" style="page-break-before: always">
                    <table class="table" style="border: 2px solid black">
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black" colspan="3"> CLOs-SLOs Map  </th>
                        </tr>
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black"> <p align="center"> No. </p> </th>
                            <th bgcolor="silver" style=" border:1px solid black"> <p align="center">Course Learning Outcome(s) </p> </th>
                            <th bgcolor="silver" style=" border:1px solid black"> <p align="center"> Relationship<br /> toStudentLearning <br />Outcomes </p> </th>
                        </tr>
                        @for (int i = 0; i < Model.CLOs.Count(); i++)
                        {
                            col = i + 1;
                            <tr>
                                <th style=" border:1px solid black"> <p align="center"> @col</p> </th>
                                <td style=" border:1px solid black"> <p> @Model.CLOs[i].Description</p> </td>
                                <td style=" border:1px solid black">
                                    @for (int k = 0; k < Model.CLOs[i].PIs.Count(); k++)
                                    {

                                        if (k == 0)
                                        {
                                            <span>@Model.CLOs[i].PIs.ElementAt(k).ID.ToString()</span>
                                        }
                                        <span>, @Model.CLOs[i].PIs.ElementAt(k).ID.ToString()</span>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    <table class="table" style="border: 2px solid black">
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black" colspan="3"> Course Assessment  </th>
                        </tr>
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black; width:70px;"> Will this course be Assessed <br /> in this Semester? </th>
                            <td style=" border:1px solid black">
                                <p align="center">
                                    @if (Model.IsAssessed != null && Model.IsAssessed.isAssessed1)
                                    {<span> Yes</span> }
                                    else
                                    { <span>No</span>}
                                </p>
                            </td>
                            <th style=" border:1px solid black">
                                @if (Model.IsAssessed != null)
                                {<span>@Model.IsAssessed.WhyNot </span>}
                            </th>

                        </tr>

                    </table>


                    <b>If Yes, Please list below the Assessment Plan: </b>

                    <br />

                    <br />

                    <table class="table" style="border: 2px solid black">
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black" colspan="2"> Assessment Plan for the Student Learning Outcome (just select) </th>
                        </tr>
                        <tr>
                            <td style=" border:1px solid black">
                                <b> 1.	Direct Assessment Activities: </b><br />
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Midterm_Test) <label class="form-check-label" for="flexCheckChecked">Midterm Test.</label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Final_Exam) <label class="form-check-label" for="flexCheckChecked">Final Exam.</label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Quiz) <label class="form-check-label" for="flexCheckChecked"> Quiz.</label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Assignment) <label class="form-check-label" for="flexCheckChecked">Assignment.</label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.project) <label class="form-check-label" for="flexCheckChecked">Project.</label>
                            </td>
                            <td style=" border:1px solid black">
                                <br />
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Midterm_Test) <label class="form-check-label" for="flexCheckChecked">Written Report.</label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Oral_Presenation) <label class="form-check-label" for="flexCheckChecked">Oral Presentation.</label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Practice_In_The_Lab) <label class="form-check-label" for="flexCheckChecked">Practice in the Lab.</label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Case_Studdy) <label class="form-check-label" for="flexCheckChecked">Case Study.</label>
                            </td>
                        </tr>
                        <tr>
                            <td style=" border:1px solid black">
                                <b> 2.	Indirect Assessment Activities:</b> <br />
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Coruse_Assessment_Survey_By_Students) <label class="form-check-label" for="flexCheckChecked">Course Assessment Survey by students. </label>
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Gropu_Discussions) <label class="form-check-label" for="flexCheckChecked"> Group Discussions.</label>
                            </td>
                            <td>
                                <br />
                                @Html.CheckBoxFor(model => model.AssessmentPlan.Coruse_Assessment_Survey_By_Students) <label class="form-check-label" for="flexCheckChecked">Students’ Interviews. </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @if (Model.AssessmentPlan != null)
                                {
                                    @Model.AssessmentPlan.Other
                                }
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="page-break-before: always" id="Pagebreak">
                    <table>
                        <tr class="text-center">
                            <td bgcolor="silver" style="border:1px solid black" class="pt-2 pl-3 pr-3">
                                <h6 align="center"> <b>Assessment Tools</b> </h6>
                            </td>
                        </tr>
                    </table>
                    
                    <br />
                    <b>1)	Direct Assessment Tool:</b>
                    <br />
                    The intended students' learning outcomes will be directly assessed based on the rubrics provided below.
                    <br />
                    <br />
                    <b>2)	Indirect Assessment Tool:</b>
                    <br />
                    The intended students' learning outcomes will be indirectly assessed using the Course Assessment Survey
                    <br />provided below(To be filled by each Student at the time of Course Completion).
                    <br />
                    <br />
                    <table class="table" style="border: 2px solid black">
                        <tr>
                            <th style="border: 1px solid black" bgcolor="silver" rowspan="2">
                                <h4>
                                    <b>
                                        Studentlearning outcomes
                                        <br />(by completing this course, students are able to:)
                                    </b>
                                </h4>
                            </th>
                            <th style="border: 1px solid black" bgcolor="silver">Strongly<br /> Disagree</th>
                            <td style="border: 1px solid black" bgcolor="silver" colspan="3"> </td>
                            <th style="border: 1px solid black" bgcolor="silver">Strongly <br />Agree</th>
                        </tr>

                        <tr>
                            <th style="border: 1px solid black">1</th>
                            <th style="border: 1px solid black">2</th>
                            <th style="border: 1px solid black">3</th>
                            <th style="border: 1px solid black">4</th>
                            <th style="border: 1px solid black">5</th>
                        </tr>
                        <tr>
                            <th>1. </th>
                            <td style="border: 1px solid black"><input type="checkbox" /> </td>
                            <td style="border: 1px solid black"> <input type="checkbox" /></td>
                            <td style="border: 1px solid black"> <input type="checkbox" /></td>
                            <td style="border: 1px solid black"><input type="checkbox" /> </td>
                            <td style="border: 1px solid black"><input type="checkbox" /> </td>
                        </tr>
                    </table>
                    <br />
                    <table class="table" style="border: 2px solid black">
                        <tr>
                            <th bgcolor="grey" style=" border:1px solid black" colspan="6"> Responsible Staff Signature: </th>
                        </tr>
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black"> Course Instructor/ <br />Coordinator </th>
                            <td style=" border:1px solid black">  </td>
                            <th bgcolor="silver" style=" border:1px solid black"> Date </th>
                            <td style=" border:1px solid black">  </td>
                            <th bgcolor="silver" style=" border:1px solid black"> Signature </th>
                            <td style=" border:1px solid black">  </td>
                        </tr>
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black"> Head of Department </th>
                            <td style=" border:1px solid black">  </td>
                            <th bgcolor="silver" style=" border:1px solid black"> Date </th>
                            <td style=" border:1px solid black">  </td>
                            <th bgcolor="silver" style=" border:1px solid black"> Signature </th>
                            <td style=" border:1px solid black">  </td>
                        </tr>
                        <tr>
                            <th bgcolor="silver" style=" border:1px solid black"> Vice Dean of <br /> Accreditation and Quality </th>
                            <td style=" border:1px solid black">  </td>
                            <th bgcolor="silver" style=" border:1px solid black"> Date </th>
                            <td style=" border:1px solid black">  </td>
                            <th bgcolor="silver" style=" border:1px solid black"> Signature </th>
                            <td style=" border:1px solid black">  </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<hr />

<footer class="justify-content-center align-items-center d-flex">
    <table>
        <tr>

            <td> <img src="~/Images/R.PNG" /> </td>
            <td><img src="~/Images/Quality.PNG" /> </td>
            <td><img src="~/Images/Risk.PNG" /></td>
            <td>
                <b>
                    EP-F891, Rev. a<br />
                    Ref.: 15/06/2019 - 2020<br />
                    Date: 10/10/2019
                </b>

            </td>

            <td> <img src="~/Images/Certified.PNG" /> </td>
        </tr>
    </table>
</footer>