@model LSS.Models.CourseSyllabu
@using LSS.Models

<header>
    <link rel="stylesheet" href="~/Content/FormsStyle.css" />
    @{
        ViewBag.Title = "CourseSyllabus";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

</header>




<body>
    <div class="container shadow-lg p-3 mb-3 mt-5 align-content-center bg-white">
        <div class="d-flex justify-content-center align-items-center text-center">
            <div>
                <img src="~/Images/LOGO-removebg-preview.png" class="brand_logo" alt="Logo" style="height:150px; width:120px;" />
                <h3>Faculty of Information Technology </h3>
            </div>
        </div>

        <hr style="border: 2px solid black" />


        <table id="FormName">
            <tr>
                <td class="text-center p-3" style="border:1px solid black; background:silver">  <b> Course Syllabus </b> </td>
            </tr>
        </table>
        <br />
        <br />

        @using (Html.BeginForm("", "", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <table class="table" style="border:double">
                    <tr>
                        <th style=" border:1px solid black" bgcolor="silver" colspan="4"> General Information:</th>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Faculty</th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                        <th style=" border:1px solid black" bgcolor="grey"> Department</th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Academic Year </th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                        <th style=" border:1px solid black" bgcolor="grey"> Semester </th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="silver" colspan="4"> Course Information:</th>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Course Name</th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                        <th style=" border:1px solid black" bgcolor="grey"> Course No. </th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Pre-requisite</th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                        <th style=" border:1px solid black" bgcolor="grey"> Co-requisite </th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black" bgcolor="grey"><b>Credit Hours</b><br />(Theory, Practical)</td>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                        <td style=" border:1px solid black" bgcolor="grey"> <b>Designation</b> <br /> (Req. or Elec.)</td>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Course Day/Time</th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                        <th style=" border:1px solid black" bgcolor="grey"> Class Room </th>
                        <td style=" border:1px solid black">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Web Address</th>
                        <td style=" border:1px solid black" colspan="3">
                            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" colspan="4" bgcolor="silver"> Instructor/Coordinator Information: </th>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Instructor Name</th>
                        <td style=" border:1px solid black"> </td>
                        <th style=" border:1px solid black" bgcolor="grey"> E-mail </th>
                        <td style=" border:1px solid black"> </td>
                    </tr>
                    <tr>
                        <th style=" border:1px solid black" bgcolor="grey"> Office No. </th>
                        <td style=" border:1px solid black"> </td>
                        <th style=" border:1px solid black" bgcolor="grey"> Office Hours  </th>
                        <td style=" border:1px solid black"> </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <div class="justify-content-center align-items-center d-flex">
                    <input type="submit" class="btn btn-secondary" />
                </div>
            </div>



            <br />
            <table class="table" style="border:double">
                <tr>
                    <th style=" border:1px solid black" bgcolor="silver"> Course Description: </th>

                </tr>
                <tr>
                    <td style=" border:1px solid black">  </td>
                </tr>
                <tr>
                    <th style=" border:1px solid black" bgcolor="silver"> References:  </th>
                </tr>
                <tr>
                    <td style=" border:1px solid black" bgcolor="silver"> <b>Textbook(s):</b> Author, A. A. (Year published). Book title (Edition). City, State: Publisher.  </td>
                </tr>
                <tr>
                    <td style=" border:1px solid black">  </td>
                </tr>
            </table>
        }
    </div>
    <hr />
</body>

<footer class="justify-content-center align-items-center d-flex">
    <table>
        <tr>

            <td> <img src="~/Images/R.PNG" /> </td>
            <td><img src="~/Images/Quality.PNG" /> </td>
            <td><img src="~/Images/Risk.PNG" /></td>
            <td>
                <b>
                    EP-F891, Rev. a<br />
                    Ref.: 15/06/2019 - 2020<br />
                    Date: 10/10/2019
                </b>

            </td>

            <td> <img src="~/Images/Certified.PNG" /> </td>
        </tr>
    </table>
</footer>