
@{
    ViewBag.Title = "ExamModerationChecklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/FormsStyle.css" rel="stylesheet" />


<body>
    <div class="row">
        <div class="col-2 mt-lg-5">
            @*<div class="list-group list-group-flush w-50">
                    <h4 class="text-primary text-decoration-none" style="color:black !important"> <b>Content</b> </h4>
                    @Html.ActionLink("Recomandations for improving the course", "ActionsForImproving", "CourseCoordinator",
                   new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })

                    @Html.ActionLink("Students List", "CourseStudentList", "CourseCoordinator",
                   new { CourseID = Model.Course.ID, Year = Model.CourseCoordinator.Year, Semester = Model.CourseCoordinator.semester }, new { @class = "bg-transparent pb-3" })

                    @Html.ActionLink("PI Assessment", "PI Assessment", "CourseCoordinator",
                   new { CourseID = Model.Course.ID, Year = Model.CourseCoordinator.Year, Semester = Model.CourseCoordinator.semester }, new { @class = "bg-transparent pb-3" })

                    @Html.ActionLink("Survey", "CourseAssessmentSurvey", "CourseCoordinator",
                   new { CourseID = Model.Course.ID, Year = Model.CourseCoordinator.Year, Semester = Model.CourseCoordinator.semester }, new { @class = "bg-transparent pb-3" })
                    <br />
                    <h4 class="text-primary text-decoration-none" style="color:black !important"> <b>Forms</b> </h4>
                    @Html.ActionLink("Coures Syllabus", "CourseSyllabus", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Course Assessment Survey", "CourseAssessmentSurvey", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Course File Checklist", "CourseFileChecklist", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3 text-success" })
                    @Html.ActionLink("Course Information Form", "CourseInformationForm", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Coures Report", "CourseReport", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Exam Evaluation", "ExamEvaluation", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                    @Html.ActionLink("Question Answer Sheet", "QuestionsAnswersSheet", "Forms", new { courseId = Model.Course.ID }, new { @class = "bg-transparent pb-3" })
                </div>*@
            <input type="button" id="printPageButton" value="Print Document" onclick="window.print()" class="btn btn-primary" />
        </div>

        <div class="col-lg-8">
            <div class="container shadow-lg p-3 mb-3 mt-5 align-items-center bg-white">
                <div class="d-flex justify-content-center align-items-center text-center">
                    <div>
                        <img src="~/Images/LOGO-removebg-preview.png" class="brand_logo" alt="Logo" style="height:150px; width:120px;" />
                        <h3>Faculty of Information Technology </h3>
                    </div>
                </div>

                <hr style="border: 2px solid black" />

                <table id="FormName">
                    <tr class="text-center">
                        <td bgcolor="silver" style="border:1px solid black" class="pt-2">
                            <h4 align="center"> <b>Exam Moderation Checklist</b> </h4>
                        </td>
                    </tr>
                </table>

                <br />
                <table class="table" style="border: 2px solid black">
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Faculty</th>
                        <td style=" border:1px solid black">  </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Department </th>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Course Title</th>
                        <td style=" border:1px solid black">  </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Course Code  </th>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Instructor/ <br /> Coordinator  Name</th>
                        <td style=" border:1px solid black">  </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Academic Year /Semester  </th>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Moderator</th>
                        <td style=" border:1px solid black">  </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Date Received  </th>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Type of Exam</th>
                        <td style=" border:1px solid black"> <input type="checkbox" /> Midterm   <input type="checkbox" /> Final   <input type="checkbox" /> Other: </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Exam Weight  </th>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black"> Exam Date</th>
                        <td style=" border:1px solid black">  </td>
                        <th bgcolor="silver" style=" border:1px solid black"> Exam <br /> Duration Time </th>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                </table>
                <br />
                <br />
                <table class="table" style="border: 2px solid black">
                    <tr>
                        <th bgcolor="silver" style=" border:1px solid black" align="center"> Evaluation Criteria</th>
                        <th bgcolor="silver" style=" border:1px solid black" align="center"> Yes</th>
                        <th bgcolor="silver" style=" border:1px solid black" align="center">No</th>
                        <th bgcolor="silver" style=" border:1px solid black" align="center"> Comments</th>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black"> 1.	The exam adheres to the approved QA form. </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black"> 2.	Are the exam items aligned to the CLOs listed in<br /> the course syllabus. </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black">3.	Are the exam items aligned to the SLOs listed in <br />the course syllabus. </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black">4.	Is the examination comprehensive and appropriate,<br /> given the course content and class schedule. </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black"> 5.	Are the question statements clear, free of typos, <br />complete, and not misleading .</td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black"> 6.	Do the exam items test the various levels of: <br /> knowledge, comprehension, analysis, synthesis,<br /> application, evaluation etc. </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black"> 7.	The questions given are adequate/ appropriate to <br />the allocated exam time. </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                    <tr>
                        <td style=" border:1px solid black"> 8.	Has a marking scheme covering all the exam items <br />been provided. </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                        <td style=" border:1px solid black">  </td>
                    </tr>
                </table>
                <br />
                <b>Additional Comments:</b>

                <hr />
                <hr />
                <hr />

                <br />
                <div>
                    <b>Date:_________________ </b>
                    <br />
                    <br />
                    <b>Instructor/CoordinatorSignature:_________________</b>
                </div>
                <br />
            </div>
        </div>
    </div>
</body>

<footer class="justify-content-center align-items-center d-flex">
    <table>
        <tr>

            <td> <img src="~/Images/R.PNG" /> </td>
            <td><img src="~/Images/Quality.PNG" /> </td>
            <td><img src="~/Images/Risk.PNG" /></td>
            <td>
                <b>
                    EP-F891, Rev. a<br />
                    Ref.: 15/06/2019 - 2020<br />
                    Date: 10/10/2019
                </b>

            </td>

            <td> <img src="~/Images/Certified.PNG" /> </td>
        </tr>
    </table>
</footer>
