@model LSS.Models.CoursesModelView.ExamEvalCal
@using LSS.Models
@using LSS.Models.CoursesModelView
@{
    ViewBag.Title = "ExamEvaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ int noOfStudetns = Model.getNoOfStudents();
    double rate = 0;
    int absent = Model.exam.CourseCoordinator.EnroledStudents.Count() - noOfStudetns;
    double avg = Model.avgGrade();
    double median = Model.getMedian();
    int succ = Model.succsess;
    int fail = Model.fail;
    if (absent != 0) { rate = noOfStudetns / absent; }
    double highest = Model.highest;
    double lowest = Model.lowest;
}
<link href="~/Content/FormsStyle.css" rel="stylesheet" />
<input type="button" id="printPageButton" value="Print Document" onclick="window.print()" class="btn btn-primary" />
<header>
    <table align="center">
        <tr>
            <th>
                Al-Ahliyya Amman University
            </th>

            <td>
                <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
            </td>

            <th>  جامعة عمان الأهلية </th>
        </tr>
    </table>
    <P align="center"><b> Faculty of Information Technology</b> </P>
    <hr style="border: 2px solid black" />
</header>
<table style=" border:double, 2px solid black" id="FormName" align="center" width="30%" height="30%">
    <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Exam Evaluation Form </b> </p></tr>
</table>

<table class="table" style="border: 2px solid black; ">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Faculty</th>
        <td style=" border:1px solid black"> @Model.exam.CourseCoordinator.Course.Department.Faculty.Name </td>
        <th bgcolor="silver" style=" border:1px solid black"> Department </th>
        <td style=" border:1px solid black"> @Model.exam.CourseCoordinator.Course.Department.Name  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Course Title</th>
        <td style=" border:1px solid black"> @Model.exam.CourseCoordinator.Course.Title  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Course Code  </th>
        <td style=" border:1px solid black">   @Model.exam.CourseCoordinator.CourseID</td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Instructor/ <br /> Coordinator  Name</th>
        <td style=" border:1px solid black">  @Model.exam.CourseCoordinator.Lecturer.Name </td>
        <th bgcolor="silver" style=" border:1px solid black"> Academic Year /Semester  </th>
        <td style=" border:1px solid black">
            @Model.exam.CourseCoordinator.Year.Year  @if (Model.exam.CourseCoordinator.Semester == "") { }
            else if (Model.exam.CourseCoordinator.Semester == "1")
            {<p>First Semester</p> }
            else if (Model.exam.CourseCoordinator.Semester == "2")
            {<p>Second Semester</p> }
            else
            {<p>Summer Semester</p>}
        </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Type of Exam</th>
        <td style=" border:1px solid black">  @Model.exam.Type </td>
        <th bgcolor="silver" style=" border:1px solid black"> Exam Weight  </th>
        <td style=" border:1px solid black"> @Model.exam.ExamWeight </td>
    </tr>
</table>

<table class="table" style="border: 2px solid black; margin-right:auto; margin-left:auto; " id="evalTable">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Section</th>
        <th bgcolor="silver" style=" border:1px solid black"> Instructor</th>
        <th bgcolor="silver" style=" border:1px solid black"> No. Of <br /> Enrolled <br />Students</th>
        <th bgcolor="silver" style=" border:1px solid black"> No. Of <br />Attendees</th>
        <th bgcolor="silver" style=" border:1px solid black"> No. Of <br />Absentees</th>
        <th bgcolor="silver" style=" border:1px solid black"> Average<br /> Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Median<br /> Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Success<br /> Rate</th>
        <th bgcolor="silver" style=" border:1px solid black"> Failure <br />Rate</th>
        <th bgcolor="silver" style=" border:1px solid black"> Highest <br />Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Lowest<br /> Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Exam <br />Absence<br /> Rate</th>
    </tr>
    <tr>

        <th style=" border:1px solid black"> All </th>
        <td style=" border:1px solid black"> @Model.exam.CourseCoordinator.Lecturer.Name </td>
        <td style=" border:1px solid black"> @Model.exam.CourseCoordinator.EnroledStudents.Count()</td>
        <td style=" border:1px solid black">@noOfStudetns  </td>
        <td style=" border:1px solid black"> @absent</td>
        <td style=" border:1px solid black"> @avg</td>
        <td style=" border:1px solid black"> @median</td>
        <td style=" border:1px solid black"> @succ</td>
        <td style=" border:1px solid black"> @fail</td>
        <td style=" border:1px solid black">  @highest</td>
        <td style=" border:1px solid black"> @lowest</td>
        <td style=" border:1px solid black">@rate </td>
    </tr>

</table>

<pre><u><b>Date: @DateTime.Now.ToString("dd-MM-yyyy") </b></u>                     <u><b>Instructor/ CoordinatorSignature:</b></u></pre>


<footer>
    <table>
        <tr>

            <td> <img src="~/Images/R.PNG" /> </td>
            <td><img src="~/Images/Quality.PNG" /> </td>
            <td><img src="~/Images/Risk.PNG" /></td>
            <td>
                <b>
                    EP-F891, Rev. a<br />
                    Ref.: 15/06/2019 - 2020<br />
                    Date: 10/10/2019
                </b>

            </td>

            <td> <img src="~/Images/Certified.PNG" /> </td>
        </tr>
    </table>
</footer>