@model PagedList.IPagedList<LSS.Models.Lecturer>
@using PagedList.Mvc;
@using LSS.Models; 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>

<div class="container shadow-lg p-3 mb-3 mt-5 bg-white">
    <div class="d-flex justify-content-center align-items-center text-center mb-3">
        <div>
            <img src="~/Images/LOGO-removebg-preview.png" class="brand_logo" alt="Logo" style="height:150px; width:120px;" />
            <h4> Users List </h4>
        </div>
    </div>

    <hr class="border-danger w-75 mb-4" />


    @if (ViewBag.updateMassege != null && ViewBag.updateMassege != "")
    {
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Sucssess</div>
            <div class="card-body">
                <p class="card-text">@ViewBag.updateMassege</p>
            </div>
        </div>
    }


    <table class="mb-2">
        <tr>
            @using (Html.BeginForm("ListStudents", "Admin", FormMethod.Get))
            {
                <td style="padding-left:2%;">
                    @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.deprtments, "Select Department", htmlAttributes: new { @class = "custom-select", @name = "standard" })
                </td>
                <td style="padding-left:2%;">
                    @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Search" })
                </td>
                <td style="padding-left:2%;">
                    <input type="submit" value="search" class="btn btn-primary" />
                </td>
            }
        </tr>
    </table>


    <p>
        @Html.ActionLink("Create New User", "CreateUser")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Role")
            </th>
            <th>
                @Html.DisplayName("Office Number")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Department")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "CreateUser", new { ID = item.ID }) 
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("ListUsers", new { Search = ViewBag.Search, Department = ViewBag.DepartmentID, page, pageSize = Model.PageSize }), new PagedListRenderOptions
{
    ContainerDivClasses = new[] { "pagination pagination-sm" },
    UlElementClasses = new[] { "pagination pagination-sm" },
    LiElementClasses = new[] { "page-item", "btn-outline-primary" }
})
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products
</div>
