@model LSS.Models.ActionsForImprovingTheCourse

@{
    ViewBag.Title = "ActionsForImprovingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActionsForImprovingDetails</h2>

<div>
    <h4>ActionsForImprovingTheCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActionsTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionsTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionsResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionsResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecomandedActions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecomandedActions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonResponsible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonResponsible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCoordinator.Lecturer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCoordinator.Lecturer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ActionsForImproving", new{ courseId=Model.CourseID})
</p>
