@model LSS.Models.CoursesModelView.AddSurveyQustionMV
@using LSS.Models
@using (Html.BeginForm("AddSurveyQustion", "CourseCoordinator", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="container shadow-lg p-3 mb-3 mt-5 bg-white">
    <h4 class="text-center">Course Assessment Survay</h4>

    <hr class="border-danger w-75" />
    @Html.HiddenFor(x => x.CAS.CourseID)
    @Html.HiddenFor(x => x.CAS.Year)
    @Html.HiddenFor(x => x.CAS.Semester)
    @Html.HiddenFor(x => x.CAS.DeptID)

    @Html.HiddenFor(x=>x.CC)

    <div class="form-group">
        @Html.LabelFor(model => model.CAS.Qustion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CAS.Qustion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CAS.Qustion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Select PI", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" id="containerDrop">
            @Html.DropDownListFor(x => x.CAS.PI_ID, new SelectList(Model.PIs, "ID", "ID"), "Select One Please", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CAS.PI_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-2">
        <div>
            <input type="submit" value="add" class="btn btn-primary" />
        </div>

    </div>
</div>


}