@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@using LSS.Models
@model LSS.Models.CoursesModelView.CouresModelView


@{
       
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/coursepage.css" rel="stylesheet" type="text/css" />
<h2 style="text-align:center"> Coures Page Information </h2>
<div class="block" style="margin-top:80px;">

    <div class="block-item" style="margin-right:30px">

        <table>
            <tr>   <th colspan="2"> <p> Course Information </p>  </th></tr>
            <tr> <td>   <h4> Coures Title </h4>  </td> <td> @Model.Course.Title </td></tr>
            <tr> <td>    <h4> Coures ID </h4>  </td> <td>  @Model.Course.ID </td></tr>
            <tr> <td>   <h4> Faculty Name   </h4> </td> <td> @Model.Faculty.ID </td></tr>
            <tr> <td>   <h4> Credit Hours   </h4> </td> <td> @Model.Course.Hours </td></tr>
            <tr> <td>   <h4> Course Coordinator   </h4> </td> <td> @Model.CourseCoordinator.Coordinator </td></tr>
            <tr> <td>   <h4> day time  </h4> </td> <td> @Model.CourseCoordinator.DayTime </td></tr>
        </table>
    </div>

    <div class="block-item">
        <h2>Course Text Books </h2>
        <table>
            <tr>   <th> <h4> Title </h4></th> <th><h4> Author </h4></th> <th><h4> Year of Publish   </h4> </th> <th><h4> City/State</h4></th>  <th><h4> publisher </h4></th></tr>
            @foreach (CourseTextBook book in Model.CourseTextBooks)
            {
                <tr>  <td> @book.Book_Title </td>  <td> @book.Author</td><td> @book.YearOfpublish </td> <td> @book.City_State </td> <td>@book.Publisher</td></tr>
            }
        </table>
    </div>
</div>
<div class="block-item">
    <ul >
        Clo :
        @foreach(CLO clo in Model.CLOs){ 
            <li> @clo.Description</li>
         }

    </ul>

</div>
<div class="block-item">
    <ul>
        <li>Course Syllabus </li>
        <li>Course Assessment Survey </li>
        <li>Course File Checklist  </li>
        <li>Course Information Form </li>
        <li>Coures Report </li>
        <li>Exam Evaluation </li>
        <li>Question Answer Sheet </li>
        

    </ul>
</div>


