@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@using LSS.Models
@model LSS.Models.CoursesModelView.CouresModelView
@using LSS.Models.CoursesModelView

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/coursepage.css" rel="stylesheet" type="text/css" />
<h2 style="text-align:center"> Coures Page Information </h2>
<div class="block" style="margin-top:80px;">

    <div class="block-item" style="margin-right:30px">
        <table>
            <tr>   <th colspan="2"> <p> Course Information </p>  </th></tr>
            <tr> <td>   <h4> Coures Title </h4>  </td> <td> @Model.Course.Title </td></tr>
            <tr> <td>    <h4> Coures ID </h4>  </td> <td>  @Model.Course.ID </td></tr>
            <tr> <td>   <h4> Faculty Name   </h4> </td> <td> @Model.Faculty.ID </td></tr>
            <tr> <td>   <h4> Credit Hours   </h4> </td> <td> @Model.Course.Hours </td></tr>
            <tr> <td>   <h4> Course Coordinator   </h4> </td> <td> @Model.CourseCoordinator.Coordinator </td></tr>
            <tr> <td>   <h4> day time  </h4> </td> <td> @Model.CourseCoordinator.DayTime </td></tr>
        </table>
    </div>

    <div class="block-item">
        <h2>Course Text Books </h2>
        <table>
            <tr>   <th> <h4> Title </h4></th> <th><h4> Author </h4></th> <th><h4> Year of Publish   </h4> </th> <th><h4> City/State</h4></th>  <th><h4> publisher </h4></th></tr>
            @foreach (CourseTextBook book in Model.CourseTextBooks)
            {
                <tr>  <td> @book.Book_Title </td>  <td> @book.Author</td><td> @book.YearOfpublish </td> <td> @book.City_State </td> <td>@book.Publisher</td></tr>
            }
        </table>
    </div>
</div>

<div class="block-item">
    <ul>
        Clo :

        @foreach (CLO clo in Model.CLOs)
        {
            <li> @clo.Description</li>
        }

    </ul>


</div>

<div id="addCLO" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{
                Html.RenderPartial("AddCLO", new AddCLOMV(Model.Course.ID));
            }
        </div>
    </div>
</div>
<button id='open' class="btn btn-outline-primary" data-toggle="modal" data-target="#addCLO">ِAdd Course Learning outcome</button>


@if (Model.SLO_PI != null)
{
    <div class="block-item">
        <table>
            <tr>
                <td>SLO</td>
                @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                {
                    <td colspan=" @Model.SLO_PI.ElementAt(i).Value.Count();">
                        @Model.SLO_PI.ElementAt(i).Key
                    </td>
                }
            </tr>
            <tr>
                <td> PI</td>
                @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                {
                    <td>
                        @Model.SLO_PI.ElementAt(i).Value
                    </td>
                }
            </tr>
        </table>
    </div>
}
else
{
    <h6> There is no Pi listed for this course yet</h6>
}
<div class="nav-link">
    <div class="block-item">
        <ul>
            <li>@Html.ActionLink("Coures Syllabus", "CourseSyllabus", "Forms", new { courseId = Model.Course.ID }, null) </li>
            <li>@Html.ActionLink("Course Assessment Survey", "CourseAssessmentSurvey", "Forms", new { courseId = Model.Course.ID }, null) </li>
            <li>@Html.ActionLink("Course File Checklist", "CourseFileChecklist", "Forms", new { courseId = Model.Course.ID }, null) </li>
            <li>@Html.ActionLink("Course Information Form ", "CourseInformationForm", "Forms", new { courseId = Model.Course.ID }, null) </li>
            <li>@Html.ActionLink("Coures Report", "CourseReport", "Forms", new { courseId = Model.Course.ID }, null) </li>
            <li>@Html.ActionLink("Exam Evaluation", "ExamEvaluation", "Forms", new { courseId = Model.Course.ID }, null) </li>
            <li>@Html.ActionLink("Question Answer Sheet", "QuestionsAnswersSheet", "Forms", new { courseId = Model.Course.ID }, null) </li>
        </ul>
    </div>
</div>