@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@using LSS.Models

@using LSS.Models.CoursesModelView

@model LSS.Models.CoursesModelView.CouresModelView


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/coursepage.css" rel="stylesheet" type="text/css" />
<h2 style="text-align:center"> Coures Page Information </h2>
<div class="block" style="margin-top:80px;">

    <div class="block-item" style="margin-right:30px">
        <table>
            <tr>   <th colspan="2"> <p> Course Information </p>  </th></tr>
            <tr> <td>   <h4> Coures Title </h4>  </td> <td> @Model.Course.Title </td></tr>
            <tr> <td>    <h4> Coures ID </h4>  </td> <td>  @Model.Course.ID </td></tr>
            <tr> <td>   <h4> Faculty Name   </h4> </td> <td> @Model.Faculty.ID </td></tr>
            <tr> <td>   <h4> Credit Hours   </h4> </td> <td> @Model.Course.Hours </td></tr>
            <tr> <td>   <h4> Course Coordinator   </h4> </td> <td> @Model.CourseCoordinator.Coordinator </td></tr>
            <tr> <td>   <h4> day time  </h4> </td> <td> @Model.CourseCoordinator.DayTime </td></tr>
        </table>
    </div>
</div>
<div style="width:auto;">
    <h2 >Course Text Books </h2> <a href="#" class="nav-link"> Add Text Book</a>
    <table class="table-active" style="width:100%;">
        <tr >   <th scope="row"> <h4> Title </h4></th> <th scope="row"><h4> Author </h4></th> <th scope="row"><h4> Year of Publish   </h4> </th scope="row"> <th><h4> City/State</h4></th>  <th scope="row"><h4> publisher </h4></th>     <th scope="row"> </th> </tr>
        @foreach (CourseTextBook book in Model.CourseTextBooks)
        {
            <tr>  
                <td> @book.Book_Title </td>
                <td> @book.Author</td>
                <td> @book.YearOfpublish </td>
                <td> @book.City_State </td>
                <td>@book.Publisher</td>
                <td>  @Html.ActionLink("Edit", "EditBook", new { @book.Book_Title, book.Course })|@Html.ActionLink("Delete", "DeleteBook", new { @book.Book_Title, book.Course })</td>
            </tr>
        }
    </table>
</div>
<div class="block-item">
    <h4>Coures learning outcome</h4>
    <ol>
        @for (int i = 0; i < Model.CLOs.Count(); i++)
        {
            <li>
                @Model.CLOs[i].Description
            </li>
        }
    </ol>
</div>

<div id="addCLO" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{
                Html.RenderPartial("AddCLO", new AddCLOMV(Model.Course.ID));
            }
        </div>
    </div>
</div>
<button id='open' class="btn btn-outline-primary" data-toggle="modal" data-target="#addCLO">ِAdd Course Learning outcome</button>


<h5> Course PI</h5>

@if (Model.SLO_PI != null)
{

    <div class="block-item">
        <table style="border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <td>SLO</td>
                @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                {
                    <td style="border: 1px solid black;">
                        @Model.SLO_PI.ElementAt(i).Key.SLOID
                    </td>
                }
            </tr>
            <tr>
                <td> PI</td>
                @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                {
                    <td>
                        @foreach (PI pi in Model.SLO_PI.ElementAt(i).Value)
                        {
                            <table>
                                <tr>
                                    <td style="border: 1px solid black;">
                                        @pi.ID
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                }
            </tr>
        </table>
    </div>
}
else
{
    <h6> There is no Pi listed for this course yet</h6>
}


