@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@using LSS.Models
@model LSS.Models.CoursesModelView.CouresModelView
@using LSS.Models.CoursesModelView

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/coursepage.css" rel="stylesheet" type="text/css" />

<nav class="navbar navbar-expand-lg navbar-light " style="border:0px;" >

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("previous Recomandation for improving the course", "ActionsForImproving", "CourseCoordinator", new { courseId = Model.Course.ID }, new { @class = "nav-link" })
            </li>
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Forms</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
                    @Html.ActionLink("Coures Syllabus", "CourseSyllabus", "Forms", new { courseId = Model.Course.ID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Course Assessment Survey", "CourseAssessmentSurvey", "Forms", new { courseId = Model.Course.ID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Course File Checklist", "CourseFileChecklist", "Forms", new { courseId = Model.Course.ID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Course Information Form ", "CourseInformationForm", "Forms", new { courseId = Model.Course.ID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Coures Report", "CourseReport", "Forms", new { courseId = Model.Course.ID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Exam Evaluation", "ExamEvaluation", "Forms", new { courseId = Model.Course.ID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Question Answer Sheet", "QuestionsAnswersSheet", "Forms", new { courseId = Model.Course.ID }, new { @class = "dropdown-item" })
                </div>
            </li>
        </ul>
    </div>
</nav>



<div class="block">

    <div class="block-item" style="margin-right:30px; width:auto; ">
        <table class="table-active" style="width:100%; border: 1px solid gray">
            <tr style="margin-left:auto; margin-right:auto;">   <th scope="row" colspan="2" style="text-align:center;"> <p> Course Information </p>  </th></tr>
            <tr style=" text-align:center;"> <td>   <h4> Coures Title </h4>  </td> <td> @Model.Course.Title </td></tr>
            <tr style=" text-align:center;"> <td>    <h4> Coures ID </h4>  </td> <td>  @Model.Course.ID </td></tr>
            <tr style="text-align:center;"> <td>   <h4> Faculty Name   </h4> </td> <td> @Model.Faculty.ID </td></tr>
            <tr style=" text-align:center;"> <td>   <h4> Credit Hours   </h4> </td> <td> @Model.Course.Hours </td></tr>
            <tr style=" text-align:center;"> <td>   <h4> Course Coordinator   </h4> </td> <td> @Model.CourseCoordinator.Coordinator </td></tr>
            <tr style=" text-align:center;"> <td>   <h4> day time  </h4> </td> <td> @Model.CourseCoordinator.DayTime </td></tr>
        </table>
    </div>

    <div class="block-item" style="width:auto;">
        <h2>Course Text Books </h2>
        <table class="table-hover" style="width:97%">
            <tr class="table-primary">   <th> <h4> Title </h4></th> <th><h4> Author </h4></th> <th><h4> Year of Publish   </h4> </th> <th><h4> City/State</h4></th>  <th><h4> publisher </h4></th></tr>
            @foreach (CourseTextBook book in Model.CourseTextBooks)
            {
                <tr>  <td> @book.Book_Title </td>  <td> @book.Author</td><td> @book.YearOfpublish </td> <td> @book.City_State </td> <td>@book.Publisher</td></tr>
            }
        </table>
    </div>
</div>

<div class="block-item">
    <h5 style="text-align:center;">Clo :</h5>
    <ol>
        @foreach (CLO clo in Model.CLOs)
        {
            <li>
                <b style=" float:left; text-align: left;">
                    @clo.Description
                </b>
                <div>
                    @Html.ActionLink("Delete ", "DeleteCLO", new { id = clo.ID })
                </div>
            </li>
        }

    </ol>


</div>

<div id="addCLO" class="modal fade" tabindex="-1" role="dialog">
    x
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{
                Html.RenderPartial("AddCLO", new AddCLOMV(Model.Course.ID));
            }
        </div>
    </div>
</div>
<button id='open' class="btn btn-outline-primary" data-toggle="modal" data-target="#addCLO">Add Course Learning outcome</button>


@if (Model.SLO_PI != null)
{
    <div class="block-item" style="width:auto;">
        <table class="table-hover" style="border: 1px solid black; width:100%;">
            <tr style="border: 1px solid black;">
                <td class="table-primary" style="border: .2px solid #5F5E61; text-align:center;"> SLO</td>
                @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                {
                    <td colspan=" @Model.SLO_PI.ElementAt(i).Value.Count()" style="border: .2px solid #5F5E61; text-align:center;">
                        @Model.SLO_PI.ElementAt(i).Key.SLOID
                    </td>
                }
            </tr>
            <tr>
                <td class="table-primary" style="border: .2px solid #5F5E61; text-align:center;"> PI</td>
                @for (int i = 0; i < Model.SLO_PI.Count(); i++)
                {
                    foreach (PI pi in Model.SLO_PI.ElementAt(i).Value)
                    {

                        <td style="border: .2px solid #5F5E61; text-align:center;">
                            @pi.ID
                        </td>

                    }
                }
            </tr>
        </table>
    </div>
}
else
{
    <h6> There is no Pi listed for this course yet</h6>
}
