@model IEnumerable<LSS.Models.Schedule>
@using LSS.Models
@{
    ViewBag.Title = "CourseSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CourseSchedule</h2>


<table class="table table-responsive-lg table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.CLOes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                Week:  @Html.DisplayFor(modelItem => item.WeekNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @foreach (CLO clo in item.CLOes)
                {
                    <span>@clo.Description <br /> </span>
                }
            </td>
            <td>
                <button id='open' style="float:right; margin:5px" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#@item">Edit</button>
                  
                    <div id="@item" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                @{
                                    Html.RenderPartial("_EditWeek",item);
                                }
                            </div>
                        </div>
                    </div>
            </td>
        </tr>




    }
</table>

