@model LSS.Models.CourseCoordinator
@using LSS.Models
@using LSS.Models.CoursesModelView

@{
    ViewBag.Title = "DirectAssessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{int Good = Model.Course.Department.Faculty.PassingGradeForPI;
    int Bad = 100 - Good;
}

@{
    double good = AssessingPI.getGoodPercentageAVG(Model.CourseExamQuestions.Select(x => x.ID).ToList(), Model.Course.Department.ID);
    double bad = AssessingPI.getPoorPercentageAVG(Model.CourseExamQuestions.Select(x => x.ID).ToList(), Model.Course.Department.ID);
}


<div class="container shadow-lg p-3 mb-3 mt-5 bg-white">
    <div class="d-flex justify-content-center align-items-center text-center">
        <div>
            <img src="~/Images/LOGO-removebg-preview.png" class="brand_logo" alt="Logo" style="height:150px; width:120px;" />
            <h4> Direct Assessment </h4>
        </div>
    </div>
    @Html.ActionLink("Edite selected Qustions", "DirectAssessmentPI", new { Model.CourseID, Model.Year, Model.Semester })

    <hr class="border-danger w-75" />

    <div class="shadow-sm">
        @if (Model.CourseExamQuestions == null)
        {
            <div class="card border-danger mb-3 w-25">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Danger card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        }
        else
        {
            <table class="table table-hover table-responsive-lg table-borderless">
                <thead>
                    <tr class="bg-white border-bottom border-primary w-100">
                        <th>
                            Performance Indicators
                        </th>
                        <th>
                            Where data are collected
                        </th>
                        <th>
                            Assessment method
                        </th>
                        <th>
                            Semester and year of data collection
                        </th>
                        <th>
                            Below Standard
                        </th>
                        <th>
                            Approaches Standard
                        </th>
                        <th>
                            Meets Standard
                        </th>
                        <th>
                            Exceeds Standard
                        </th>
                        <th>
                            Poor <= @Bad
                        </th>
                        <th>
                            Good <=@Good
                        </th>
                        <th>
                            No. of assessed students
                        </th>
                        <th>
                            No. of discarded students
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (CourseExamQuestion q in Model.CourseExamQuestions)
                    {

                        <tr class="w-100">
                            <td>
                                @foreach (PI pi in q.PIs)
                                {
                                    <b>@pi.ID :</b> @pi.Desc
                                }
                            </td>
                            <td>
                                @Model.CourseID
                            </td>
                            <td>
                                @q.CourseExam.Type @q.QuestionNumber
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.Year)

                                @if (Model.Semester.Equals("1"))
                                {<span> First Semester </span> }
                                else if (Model.Semester.Equals("2"))
                                { <span> Second Semester </span>}
                                else
                                { <span> Summer Semester </span>}
                            </td>
                            <td>
                                @AssessingPI.getBelowStander(q.ID, Model.Course.Department.ID)
                            </td>
                            <td>
                                @AssessingPI.getApproachesStandard(q.ID, Model.Course.Department.ID)
                            </td>
                            <td>
                                @AssessingPI.getMeetsStandard(q.ID, Model.Course.Department.ID)
                            </td>
                            <td>
                                @AssessingPI.getExceedsStandard(q.ID, Model.Course.Department.ID)
                            </td>
                            <td>
                                @AssessingPI.getPoorPercentage(q.ID, Model.Course.Department.ID)
                            </td>
                            <td>
                                @AssessingPI.getGoodPercentage(q.ID, Model.Course.Department.ID)
                            </td>
                            <td>
                                @AssessingPI.NoOfAssessedStudents(q.ID, Model.Course.Department.ID)
                            </td>
                            <td>
                                @AssessingPI.NoOfDiscardedStudents(q.ID, Model.Course.Department.ID)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <table>
                <tr>
                    <td>
                    </td>
                    <td>
                        Poor
                    </td>
                    <td>
                        Good
                    </td>

                </tr>
                <tr>
                    <td>Overall</td>
                    <td>@bad</td>
                    <td>@good</td>

                </tr>
                <tr>
                    <td>
                        PI Satisfied?
                    </td>
                    <td>
                        @if (bad > Model.Course.Department.Faculty.PassingGradeForPI)
                        {
                            <span>No</span>
                        }
                        else
                        {
                            <span>Yes</span>
                        }
                    </td>
                    <td>
                        @if (good < Model.Course.Department.Faculty.PassingGradeForPI)
                        {
                            <span>No</span>
                        }
                        else
                        {
                            <span>Yes</span>
                        }
                    </td>
                </tr>

            </table>
        }
    </div>

</div>
