@model LSS.Models.CourseCoordinator
@using LSS.Models
@using LSS.Models.CoursesModelView

@{
    ViewBag.Title = "DirectAssessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{int Good = Model.Course.Department.Faculty.PassingGradeForPI;
    int Bad = 100 - Good;
}


<h2>DirectAssessment</h2>

@if (Model.CourseExamQuestions == null)
{



    <div class="card border-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h4 class="card-title">Danger card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
}
else
{



    <table>
        <thead>
            <tr>
                <th>
                    Performance Indicators
                </th>
                <th>
                    Where data are collected
                </th>
                <th>
                    Assessment method
                </th>
                <th>
                    Semester and year of data collection
                </th>
                <th>
                    Below Standard
                </th>
                <th>
                    Approaches Standard
                </th>
                <th>
                    Meets Standard
                </th>
                <th>
                    Exceeds Standard
                </th>
                <th>
                    Poor <= @Bad
                </th>
                <th>
                    Good <=@Good
                </th>
                <th>
                    No. of assessed students
                </th>
                <th>
                    No. of discarded students
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (CourseExamQuestion q in Model.CourseExamQuestions)
            {

                <tr>
                    <td>
                        @foreach (PI pi in q.PIs)
                        {
                            <b>@pi.ID :</b> @pi.Desc
                        }
                    </td>
                    <td>
                        @Model.CourseID
                    </td>
                    <td>
                        @q.CourseExam.Type @q.QuestionNumber
                    </td>
                    <td>
                        @Html.DisplayFor(x => x.Year)

                        @if (Model.Semseter.Equals("1"))
                        {<span> First Semester </span> }
                        else if (Model.Semseter.Equals("2"))
                        { <span> Second Semester </span>}
                        else
                        { <span> Summer Semester </span>}
                    </td>
                    <td>
                        @AssessingPI.getBelowStander(q.ID, Model.Course.Department.ID)
                    </td>
                    <td>
                        @AssessingPI.getApproachesStandard(q.ID, Model.Course.Department.ID)
                    </td>
                    <td>
                        @AssessingPI.getMeetsStandard(q.ID, Model.Course.Department.ID)
                    </td>
                    <td>
                        @AssessingPI.getExceedsStandard(q.ID, Model.Course.Department.ID)
                    </td>
                    <td>
                        @AssessingPI.getPoorPercentage(q.ID, Model.Course.Department.ID)
                    </td>
                    <td>
                        @AssessingPI.getGoodPercentage(q.ID, Model.Course.Department.ID)
                    </td>
                    <td>
                        @AssessingPI.NoOfAssessedStudents(q.ID, Model.Course.Department.ID)
                    </td>
                    <td>
                        @AssessingPI.NoOfDiscardedStudents(q.ID, Model.Course.Department.ID)
                    </td>
                </tr>
            }
        </tbody>
    </table>


}


@if (Model.ResultOfCourseDirectAssessment == null)
{
    <div class="card border-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">Result of Course Direct Assessment</div>
        <div class="card-body">
            <h4 class="card-title">it has not been setup yet for this course  </h4>
            <hr />
            <button id='open' class="btn btn-primary card-link mt-3" data-toggle="modal" data-target="#AddRCDA">Create Assessment review</button>

        </div>
    </div>

    <div id="AddRCDA" class="shadow modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @{
                    Html.RenderPartial("AddRCDA", new ResultOfCourseDirectAssessment() { CourseID = Model.CourseID, Year = Model.Year, Semseter = Model.Semseter });
                }
            </div>
        </div>
    </div>

}
else
{
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Result of Course Direct Assessment</div>
        <div class="card-body">
            <h4 class="card-title">Actions Taken </h4>
            <p class="card-text">@Model.ResultOfCourseDirectAssessment.ActionsTaken</p>
            <br />
            <hr />
            <h4 class="card-title">Observation</h4>
            <p class="card-text">@Model.ResultOfCourseDirectAssessment.Observation</p>
            <br />
            <hr />
            <h4 class="card-title">Analysis and justification</h4>
            <p class="card-text">@Model.ResultOfCourseDirectAssessment.AnalysisAndJustification</p>
            <br />
            <hr />
            <h4 class="card-title">Recomandations</h4>
            <p class="card-text">@Model.ResultOfCourseDirectAssessment.Recommendation</p>
            <br />
            <hr />
            <button id='open' class="btn btn-primary card-link mt-3" data-toggle="modal" data-target="#AddRCDA">Edite Assessment review</button>

        </div>
    </div>

    <div id="AddRCDA" class="shadow modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @{
                    Html.RenderPartial("AddRCDA", Model.ResultOfCourseDirectAssessment);

                }
            </div>
        </div>
    </div>

}


