@using LSS.Models
@model LSS.Models.CoursesModelView.PIAssessmentMV


@{
    ViewBag.Title = "DirectAssessment1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>


<h2>DirectAssessment1</h2>

@using (Html.BeginForm("DirectAssessmentPI", "CourseCoordinator", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" id="CourseID" name="CourseID" value='@Model.CourseCoordinator.CourseID' />
    <input type="hidden" id="Year" name="Year" value='@Model.CourseCoordinator.Year' />
    <input type="hidden" id="Semester" name="Semester" value='@Model.CourseCoordinator.Semester' /

    <ul>
        @foreach (CourseExam exam in Model.CourseCoordinator.CourseExams)
        {
            <li>
                <span>@exam.Type</span>
                <ul>
                    @foreach (CourseExamQuestion question in exam.CourseExamQuestions)
                    {
                        <li>
                            <input type="checkbox" id="QID" name="QID" value="@question.ID" checked="@Model.CourseCoordinator.CourseExamQuestions.Select(x=>x.ID).Contains(question.ID)" />
                            <b style="padding-bottom:2%; margin-bottom:2%">@question.QuestionNumber</b>
                        </li>
                    }
                </ul>
            </li>

        }
    </ul>
    <input type="submit" value="Save Selected" class="btn btn-primary mb-1" />
}