@model LSS.Models.isAssessed


<script>
    function change() {
        if (document.getElementById('checkbox').checked) {
            document.getElementById('whynot_div').hidden = true;
            document.getElementById('whynoteditor').value = " ";

        } else {
            document.getElementById('whynot_div').hidden = false;
        }
    }
    change() 
</script>

<link href="~/Content/ULStyleForAssessmentPlan.css" rel="stylesheet" />
@using (Html.BeginForm("IsAssessedPartialView", "CourseCoordinator", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>isAssessed</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CourseID)
    @Html.HiddenFor(model => model.Year)
    @Html.HiddenFor(model => model.Semseter)

    <div class="form-group">
        @Html.LabelFor(model => model.isAssessed1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.isAssessed1, new { onchange = "change()", id = "checkbox" })
                @Html.ValidationMessageFor(model => model.isAssessed1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group" id="whynot_div" hidden>
        @Html.LabelFor(model => model.WhyNot, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WhyNot, new { htmlAttributes = new { @class = "form-control", id = "whynoteditor" } })
            @Html.ValidationMessageFor(model => model.WhyNot, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "CoursePage", "CourseCoordintor", new { courseID = Model.CourseID })
</div>
