@model LSS.Models.isAssessed




<link href="~/Content/ULStyleForAssessmentPlan.css" rel="stylesheet" />
@using (Html.BeginForm("IsAssessedPartialView", "CourseCoordinator", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h4>Assessment Information</h4>
        <hr />

        <table class="table table-borderless w-100">
            <thread>
                <tr>
                    <th colspan="3"> Will this be Assessed? </th>
                </tr>
            </thread>

            <tbody class="text-left">
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <p>
                                @Html.RadioButtonFor(model => model.isAssessed1, false, new { id = "radioNo" })
                                <label class="form-check-label" for="radioNo">No it will not.</label>
                                @Html.ValidationMessageFor(model => model.isAssessed1, "", new { @class = "text-danger" })
                            </p>
                        </div>

                        <div class="form-check form-check-inline">
                            <p>
                                @Html.RadioButtonFor(model => model.isAssessed1, true, new { id = "radioYes" })
                                <label class="form-check-label" for="radioYes">Yes it will.</label>
                                @Html.ValidationMessageFor(model => model.isAssessed1, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group" id="whynot_div">
                            <p>
                                Reasons for not assessing (If any):

                            </p>
                            @Html.TextAreaFor(model => model.WhyNot, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WhyNot, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="justify-content-center align-items-center d-flex">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CourseID)
    @Html.HiddenFor(model => model.Year)
    @Html.HiddenFor(model => model.semester)
}
