@model LSS.Models.CourseExam
@using LSS.Models;
@{
    ViewBag.Title = "CourseExamDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container shadow-lg ">
    <div class="d-flex justify-content-center align-items-center text-center">
        <div>
            <img src="~/Images/LOGO-removebg-preview.png" class="brand_logo" alt="Logo" style="height:150px; width:120px;" />
            <h3>Course Exam Details</h3>
        </div>
    </div>

    <hr class="border-danger w-75" />
    <br />

    <table class="table table-responsive-lg table-hover table-borderless shadow">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Type)
            </td>
            <td>
                @Html.DisplayFor(model => model.Type)
            </td>

        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Moderator)
            </td>

            <td>
                @Html.DisplayFor(model => model.Moderator)
            </td>
        </tr>

        <tr>
            <td>
                Exam Weight
            </td>

            <td>
                @Html.DisplayFor(model => model.ExamWeight)
            </td>
        </tr>

        <tr>
            <td>
                Exam Duration
            </td>

            <td>
                @Html.DisplayFor(model => model.ExamDurationTime)
            </td>
        </tr>

        <tr>
            <td>
                Moderation Date:
            </td>

            <td>
                @Html.DisplayFor(model => model.ModerationDate)
            </td>
        </tr>

        <tr>
            <td>
                Exam Date:

            </td>

            <td>
                @Html.DisplayFor(model => model.ExamDate)
            </td>
        </tr>

        <tr>
            <td>
                Additional Comments:
            </td>

            <td>
                @Html.DisplayFor(model => model.AdditionalComments)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ModerationChecklist.CourseID)
            </td>

            <td>
                @Html.DisplayFor(model => model.ModerationChecklist.CourseID)
            </td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("Add Qustions", "CreateQustion", new { ExamID = Model.ID })
    </p>
    @Html.Partial("ListExamQustions", Model.CourseExamQuestions)




    @using (Html.BeginForm("UploadMarks", "Exam", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="CourseID" name="ExamID" value='@Model.ID' />
        <table>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="Select Grades File" id="ExcelSheet">
                            <label class="custom-file-label" for="ExcelSheet">Choose file..</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" name="Upload" value="Submit" class="btn btn-primary" />
                        </div>
                        <hr />
                    </div>
                    <img src="~/Images/Excel Format/ExamQustions.png" />

                </td>
            </tr>


        </table>
    }

</div>



