@model LSS.Models.CourseExam
@using LSS.Models;
@{
    ViewBag.Title = "CourseExamDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CourseExamDetails</h2>

<div>
    <h4>CourseExam</h4>
    <hr />
    <table class="dl-horizontal">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Type)
            </td>
            <td>
                @Html.DisplayFor(model => model.Type)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Moderator)
            </td>

            <td>
                @Html.DisplayFor(model => model.Moderator)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ExamWeight)
            </td>

            <td>
                @Html.DisplayFor(model => model.ExamWeight)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ExamDurationTime)
            </td>

            <td>
                @Html.DisplayFor(model => model.ExamDurationTime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ModerationDate)
            </td>

            <td>
                @Html.DisplayFor(model => model.ModerationDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ExamDate)

            </td>

            <td>
                @Html.DisplayFor(model => model.ExamDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.AdditionalComments)
            </td>

            <td>
                @Html.DisplayFor(model => model.AdditionalComments)
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ModerationChecklist.CourseID)
            </td>

            <td>
                @Html.DisplayFor(model => model.ModerationChecklist.CourseID)
            </td>
        </tr>
    </table>
</div>
@{ 
    Html.RenderPartial("ListExamQustions", Model.CourseExamQuestions.ToList());
}