@model PagedList.IPagedList<LSS.Models.CourseExam>
@using PagedList.Mvc;
@using LSS.Models;
@{
    ViewBag.Title = "ListCourseExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListCourseExam</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayName("Moderator")
        </th>
        <th>
            @Html.DisplayName("ExamWeight")
        </th>
        <th>
            @Html.DisplayName("ExamDurationTime")
        </th>
        <th>
            @Html.DisplayName("ModerationDate")
        </th>
        <th>
            @Html.DisplayName("ExamDate")
        </th>
        <th>
            @Html.DisplayName("AdditionalComments")
        </th>
        <th>
            @Html.DisplayName("ClassRoom")
        </th>
        <th>
            @Html.DisplayName("ModerationChecklist.CourseID")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDurationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModerationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCoordinator.ClassRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModerationChecklist.CourseID)
            </td>
            <td>
               
                @Html.ActionLink("Details", "CourseExamDetails", new { id = item.ID }) 
                
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("ListCourses", new { Search = ViewBag.Search, Department = ViewBag.DepartmentID, page, pageSize = Model.PageSize }), new PagedListRenderOptions
{

   ContainerDivClasses = new[] { "pagination pagination-sm" },
   UlElementClasses = new[] { "pagination pagination-sm" },
   LiElementClasses = new[] { "page-item", "btn-outline-primary" }

})
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products

    <div id="addSLO" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @{
                    Html.RenderPartial("AddSLO", new CourseExamQuestion() {ExamID=Model.ID });
                }
            </div>
        </div>
    </div>
    <button id='open' data-toggle="modal" data-target="#addSLO">Add SLO</button>