
@model LSS.Models.PEO

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


@using (Html.BeginForm("AddPEO", "HeadOfDepartment", FormMethod.Post))
{



    @Html.AntiForgeryToken()

    <div class="container">
        <h4 class="text-center mt-2">PEO</h4>
        <hr style="border-color:red;" class="w-75" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container shadow-sm p-2">

            @Html.HiddenFor(model => model.DeptID)
            <div class="input-group mb-3 w-75">
                <div class="input-group-prepend">
                    <span class="input-group-text text-primary" id="sloId">ID</span>
                </div>
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", id = "ID", style = "max-width:100%" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>

            <div class="input-group mb-3 w-75">
                <div class="input-group-prepend">
                    <span class="input-group-text text-primary" id="desc">Descreption</span>
                </div>
                @Html.TextAreaFor(model => model.Desc, new { @class = "form-control", id = "Desc" })
                @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="justify-content-center align-items-center text-center mt-3">
            <input type="submit" value="Add" asp-action="AddPEO" id="PartialSubmit" class="btn btn-primary" disabled/>
            <div class="text-right mb-2">
                @Html.ActionLink("Cancel", "Index" ,"HeadOfDepartment")
            </div>
        </div>
    </div>
    <script>
      
        $("#ID").change(function () {
            console.log($("#ID").val());
            if ($("#ID").val() && $("#Desc").val()) {
                $("#PartialSubmit").prop('disabled', false);
            } else
                $("#PartialSubmit").prop('disabled', true);
        });
        $("#Desc").change(function () {
            console.log($("#Desc").val());
            if ($("#ID").val() && $("#Desc").val()) {
                $("#PartialSubmit").prop('disabled', false);
            } else
                $("#PartialSubmit").prop('disabled', true);
        });

    </script>
}
